{% extends "base.html" %}
{% block title %}MUEBLESEMAE{% endblock title %}

{% block content %}
    <h2>Muebles</h2>
    <div class="row">
        {% for mueble  in muebles  %}
            {% if mueble.type == "H" %}
                
            
            <div class="col-sm-3">
                <br>
                <div class="card">
                    <img class="card-img-top" src="{{mueble.picture.url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{mueble | capfirst}}</h5>
                        <p class="card-text">Tipo: {{mueble.type}} </p>
                        <!--icono VER-->
                        <a href="{{mueble.id}}" class="btn btn-primary">
                            <i class="fa-solid fa-eye"></i> <!--icono-->
                        </a>
                        <!--icono EDITAR-->
                        {% if user.is_authenticated %}
                            <a href="edit_mueble/{{mueble.id}}" class="btn btn-primary">
                                <i class="fa-solid fa-pen-fancy"></i>
                            </a>
                            <!--icono BORRAR-->
                            <a href="delete_mueble/{{mueble.id}}" class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        {% endif %} 
                    </div>
                </div>
            </div>  
            {% endif %}      
        {% endfor %}
    </div>

    <!--cliente-->
    <br>
    
{% endblock content %}