{% extends "base.html" %}
{% block title %}Pagina Inicial{% endblock title %}

{% block content %}
    <h2>Tabla Clientes</h2>

            <table class="table">
                <thead class="atributes">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Edicion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente  in clientes  %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{cliente.name}} {{cliente.last_name}} </td>
                            <td>{{cliente.dni}}</td>
                            <td>
                                {% if user.is_authenticated %}
                                <a href="/edit_cliente/{{cliente.id}}" class="btn btn-primary">
                                    <i class="fa-solid fa-pen-fancy"></i>
                                </a>
                                <!--icono BORRAR-->
                                <a onclick = "confirmDelete(event)" href="/delete_cliente/{{cliente.id}}" class="btn btn-danger">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                                {%else%}
                                    <p>no disponible</p>
                                {% endif %} 
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No hay clientes registrados.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

{% endblock content %}