{% extends "base.html" %}
{% block title %}Cliente Tabla{% endblock title %}

{% block content %}
    <h2>Clientes</h2>
    {% if user.is_authenticated %}
        <label>
            <a class="nav-link" href="{% url "mueblesemae:add_cliente" %}">Añadir cliente
                <i class="fa-solid fa-circle-plus"></i>
            </a>
        </label>
    {% endif %}
            <table class="table">
                <thead class="atributes">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">CLIENTE</th>
                        <th scope="col">CÉDULA</th>
                        <th scope="col">EDICIÓN</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente  in clientes  %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{cliente.name}} {{cliente.last_name}} </td>
                            <td>{{cliente.dni}}</td>
                            <td>
                                {% if user.is_authenticated %}
                                    <a href="/edit_cliente/{{cliente.id}}" class="btn btn-primary">
                                        <i class="fa-solid fa-pen-fancy"></i>
                                    </a>
                                    <!--icono BORRAR-->
                                    <a onclick = "confirmDelete(event)" href="/delete_cliente/{{cliente.id}}" class="btn btn-danger">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                {%else%}
                                    <p>no disponible</p>
                                {% endif %} 
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No hay clientes registrados.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock content %}