{% extends "base.html" %}
{% block title %}{{cliente | capfirst}}{% endblock title %}
{% block content %}
    <p>{{cliente}}</p>
    <h2>Detalles de la compra:</h2>

    <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

        <table class="table">
            <thead class="atributes">
                <tr>
                    <th scope="col">mueble</th>
                    <th scope="col">cliente</th>
                    <th scope="col">precio</th>
                    <th scope="col">precio individual</th>


                </tr>
            </thead>
            <tbody>
                {% for compra in compras %}
                    <tr>
                        <td>
                            {% for mueble in compra.muebles.all %}
                                {{ mueble.name }}
                            {% endfor %}
                        </td>
                        <td>
                            {{cliente.name}}
                        </td>

                        <td>
                            {{compra.total}}
                        </td>

                        <td>


                            {% for mueble in compra.muebles.all %}
                                {{mueble.cost}} , 
                            {% endfor %}

                            
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock content %}

