{% extends "base.html" %}
{% block title %}MUEBLESEMAE{% endblock title %}

{% block content %}
<center>
    <h1>DESTACADO</h1>
</center>
    <div class="row justify-content-center">
        <div class="row row-cols-1 row-cols-md-1 g-2">
            <div class="col">
            <div class="card">
                <img src="https://tse3.mm.bing.net/th?id=OIG4.5cG8e8z4KYtgbOLejW18&pid=ImgGn" class="card-img-top" style="width: 60rem; height: 37rem;" alt="...">
            </div>
            <hr>
            </div>
        </div>
    </div>
    <div class="row">
        {% for mueble  in muebles  %}     
            <div class="col-sm-3">
                <br>
                <div class="card">
                    <img class="card-img-top" src="{{mueble.picture.url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{mueble | capfirst}}</h5>
                        <p class="card-text">Precio: {{mueble.cost}} $</p>
                        {% if mueble.type == "C" %}
                        <p>{{ descripcion1 }} </p>
                        {% elif mueble.type == "O" %} 
                        <p>{{ descripcion2 }} </p>
                        {% elif mueble.type == "H" %} 
                        <p>{{ descripcion3 }} </p>
                        {% endif %} 
                        <!--Icono VER-->
                        <a href="{{mueble.id}}" class="btn btn-primary">
                            <i class="fa-solid fa-eye"></i> <!--icono-->
                        </a>
                        <!--Icono EDITAR-->
                        {% if user.is_authenticated %}
                            <a href="edit_mueble/{{mueble.id}}" class="btn btn-primary">
                                <i class="fa-solid fa-pen-fancy"></i>
                            </a>
                            <!--Icono BORRAR-->
                            <a onclick = "confirmDelete(event)" href="delete_mueble/{{mueble.id}}" class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        {% endif %} 
                    </div>
                </div>
            </div>       
        {% endfor %}
    </div>
    <br>   
{% endblock content %}