{% extends "base.html" %}
{% block title %}Pagina Inicial{% endblock title %}

{% block content %}
    <h2>Muebles</h2>
        <div class="row">
            {% for mueble  in muebles  %}
            <div class="col-sm-3">
                <a href="{{mueble.id}}">{{mueble | capfirst}}</a>


                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{mueble.picture.url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>



            </div>
    
            {% endfor %}
        </div>

    <!--cliente-->
    <br>
    <h2>cliente</h2>
    <ul>
        {% for cliente  in clientes  %}
            <li>
                <a href="cliente/{{cliente.id}}">{{cliente | capfirst}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}