{% extends "base.html" %}
{% block title %}MUEBLESEMAE{% endblock title %}

{% block content %}
    <h2>lista de compras</h2>
    <div class="row">
        <div>
        </div>
        <table class="table">
            <thead class="atributes">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">ID</th>
                    <th scope="col">CLIENTE</th>
                    <th scope="col">PRODUCTO</th>
                    <th scope="col">CATEGORIA</th>
                    <th scope="col">DETALLES</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for compra  in compras  %}

                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            {{compra.fecha}}
                        </td>

                        <td>
                            {% for mueble in compra.muebles.all %}
                                {{ mueble.id }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <th>
                            {{compra.cliente.name}}
                        </th>


                        <td>
                            {% for mueble in compra.muebles.all %}
                                {{ mueble.name }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>

                        <td>
                            {% for mueble in compra.muebles.all %}
                                {{ mueble.get_type_display }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>

                        <td>
                           
                            <a href="/detalle_compra/{{compra.cliente.id }}" class="btn btn-primary">
                                <i class="fa-solid fa-eye"></i> <!--icono-->
                            </a>
                            
                        </td>
                    </tr>
                    
                {% empty %}
                    <tr>
                        <td colspan="4">No hay compras registrados.</td>
                    </tr>

                {% endfor %}
                
            </tbody>
        </table>
    </div>    
{% endblock content %}